html 
{
    height: 100%;
    width: 100%;
}
body 
{
    min-height: 100%;
    margin: 0px;
    background-color: rgba(6, 6, 6,1); 
}

.header-container
{   
    height:100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    width: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    border-right: solid 2px black;
    position: fixed;
    background-color: rgba(255, 255, 255,1); 
}

.logo-container
{
    padding-left: 20%;
    height: 50%;
}

.nav-container
{
    padding-left: 20%;
    line-height: 200%;
}

.homelink
{ 
    color: #000000; 
    text-decoration: none;
} 
.homelink:hover
{ 
    color: #FFFFFF;
    -webkit-text-stroke: 0.5px black; 
} 

.navlink
{ 
    padding-left: 2%;
    color: #000000; 
    text-decoration: none;
} 
.navlink:hover
{ 
    color: #ffffff;
    -webkit-text-stroke: 0.5px black; 
} 

.main-container
{
    margin-left: 10%;
}

.work01
{
    padding-top: 5%;
    padding-bottom: 8%;
    padding-left: 10%;
    padding-right: 10%;
    background-color:#000000;
    color:#FFFFFF;

}

.work01:hover
{ 

    color: #000000;
    background-color: #e6e1d8; 
} 
.work02
{
    padding-top: 5%;
    padding-bottom: 8%;
    padding-left: 10%;
    padding-right: 10%;
    background-color:#000000;
    color:#FFFFFF;

}

.work02:hover
{ 

    color: #000000;
    background-color: #b4a389; 
} 


.workinfo
{
    text-align: center; 
    font-weight: 400;
    color: grey;
}

.about-countainer
{
    padding-top: 8%;
    padding-left: 15%;
}

.about-text
{
    padding-top: 3%;
    padding-right: 25%;
}


.copyright
{
    text-align: center;
    font-size: small;
    color: slategrey;
}
