html 
{
    height: 100%;
    width: 100%;
}
body 
{
    min-height: 100%;
    margin: 0px;
}

.header-container
{   
    height:100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    width: 10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    border-bottom: solid 2px black;
    position: fixed;
    background-color: rgba(0, 0, 0,1); 
}

.logo-container
{
    padding-left: 20%;
    height: 50%;
}

.nav-container
{
    padding-left: 20%;
    line-height: 200%;
}

.homelink
{ 
    color: #ffffff; 
    text-decoration: none;
} 
.homelink:hover
{ 
    color: #ffffff;
    text-decoration: underline;
} 

.navlink
{ 
    padding-left: 2%;
    color: #ffffff; 
    text-decoration: none;
} 
.navlink:hover
{ 
    color: #ffffff;
    text-decoration: underline;
} 

.main-container
{
    margin-left: 10%;
    padding-top: 49px;
}

.workinfo-container
{
    width: 30%;
    padding-left:20% ;
    padding-bottom: 10%;
}

.workimg-countainer
{
    padding-bottom: 0px;
    padding-top: 3%;
    padding-left:0;
     
}

.specimendownload
{
    padding: 0.5%;
    border-style:dashed;
    text-decoration: none;
    color: #333333; 
}

.footer-container
{
    margin-top: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    border-top: solid 2px black;
}

.copyright
{
    text-align: center;
    font-size: small;
    color: slategrey;
}
